* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

h1 {
    font-size: 27px;
}