body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2c3e50;
    font-family: Arial, sans-serif;
}

#game-container {
    background-image: url(./assets/fundo-jogo-sergio.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 400px;
    height: 600px;
    overflow: hidden;
}

#bird {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./assets/serg.io.png);
    left: 50px;
    top: 50%;
    border-radius: 50%;
}

.pipe {
    position: absolute;
    width: 60px;
    background-image: url(./assets/pipe-jogo-sergio.png);
    background-size: cover;
}

.pipe + .pipe {
    margin-right: 20px;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    z-index: 100;
}

#motivation {
    position: absolute;
    top: 60px;
    left: 20px;
    color: white;
    font-size: 18px;
    z-index: 100;
    display: none; /* Inicialmente oculto */
}